@import "@styles/global";

.table {
  border: none !important;
  @include Body1();
  @include displaySettings($justify: space-between);
  color: $mainTextColor !important;
}

.ambassadorName{
  @include Body1();
}

.telegram{
  color: $subtitlesColor;
}

.time{
  margin-left: 8px;
  color: $subtitlesColor;
}

.merch{
  @include Body2();
}

.footerMerch{
  @include Body2();
}