@import "@styles/global";

.table {
  border: none !important;
  @include Body1();
  @include displaySettings($justify: space-between);
}

.telegram{
  color: $subtitlesColor;
}

.time{
  margin-left: 8px;
  color: $subtitlesColor;
}