@import "@styles/global";

.ambassadorPage{
  display: grid;
  background-color: transparent !important;
  grid-template-columns: 282px 1fr;
  grid-template-areas:
    "profile common"
    "comment common";
  grid-template-rows: auto;
  gap: 24px;
}

.controls{
  grid-area: controls;
  height: 76px;
  @include displaySettings($justify: space-between);
  margin-right: 32px;
}