@import "variables";

:export {
  /**
  ------------- COLORS -------------
 */


  /* -- MAIN COLORS -- */

  globalWhite: $globalWhite;

  // Text
  fsMain: $fs-main;
  fsSecondMain: $fs-secondMain;

  fsLineHeight: $fs-line-height;

  mainTextColor: $mainTextColor;
  subtitlesColor: $subtitlesColor;

  // Fields, Inputs and Buttons

  defaultFiledColor: $defaultFiledColor;
  disabledFiledColor: $disabledFiledColor;
  activeFieldColor: $activeFieldColor;
  hoverFiledColor: $hoverFiledColor;

  // Main buttons

  defaultBtnColor: $defaultBtnColor;
  defaultDisabledBtnColor: $defaultDisabledBtnColor;
  defaultDisabledBgBtnColor: $defaultDisabledBgBtnColor;
  defaultHoverBtnColor: $defaultHoverBtnColor;
  defaultOnClickBtnColor: $defaultOnClickBtnColor;

  secondBtnColor: $secondBtnColor;
  secondDisabledBtnColor: $secondDisabledBtnColor;
  secondDisabledBgBtnColor: $secondDisabledBgBtnColor;
  secondHoverBtnColor: $secondHoverBtnColor;
  secondHoverBtnBorderColor: $secondHoverBtnBorderColor;
  secondOnClickBtnColor: $secondOnClickBtnColor;

  // Main checkboxes
  defaultCheckboxColor: $defaultCheckboxColor;
  defaultDisabledCheckboxColor: $defaultDisabledCheckboxColor;
  defaultDisabledBorderCheckboxColor: $defaultDisabledBorderCheckboxColor;
  defaultHoverCheckboxColor: $defaultHoverCheckboxColor;
  defaultImageCheckboxColor: $defaultImageCheckboxColor;
  defaultDisabledImageCheckboxColor: $defaultDisabledImageCheckboxColor;

  // Backgrounds

  screensBgColor: $screensBgColor;


  /* -- SYSTEM COLORS -- */

  errorsColor: $errorsColor;
  successColor: $successColor;
  warningColor: $warningColor;
  warningLightColor: $warningLightColor;


  /* -- ADDITION COLORS -- */

  greenTag: $greenTag;
  lightGreenTag: $lightGreenTag;
  orangeTag: $orangeTag;
  lightOrangeTag: $lightOrangeTag;
  roseTag: $roseTag;
  lightRoseTag: $lightRoseTag;
  blueTag: $blueTag;
  lightBlueTag: $lightBlueTag;

  /* -- FONTS -- */
  mainFont: $mainFont;
  headingsFont: $headingsFont;

  Medium: $Medium;
  Bold: $Bold;
  SemiBold: $SemiBold;
  Regular: $Regular;

  /* -- MODIFICATORS -- */
  borderRadius: $borderRadius;
  borderIconRadius: $borderIconRadius;
  sizeIcon: $sizeIcon;
}