/**
  ------------- COLORS -------------
 */


/* -- MAIN COLORS -- */

$globalWhite: #FFFFFF;

// Text

$mainTextColor: #1A1A1A;
$subtitlesColor: #80818F;

// Fields, Inputs and Buttons

$defaultInputBorderColor: #EFF2F7;
$defaultInputBgColor: #EFF2F7;
$defaultInputHoverBorderColor: #C5C2C2;
$defaultInputFocusedBorderColor: #80818F;


$defaultFiledColor: #C5C2C2;
$disabledFiledColor: #EDEDED;
$activeFieldColor: #E4E7ED;
$hoverFiledColor: #F9FAFB;

// Main buttons

$paddingsButtons : 10px 32px;

$defaultBtnColor: #FFDC60;
$defaultDisabledBtnColor: #C5C2C2;
$defaultDisabledBgBtnColor: #EDEDED;
$defaultHoverBtnColor: #FFD21F;
$defaultOnClickBtnColor: #FFCC00;

$secondBtnColor: #FFFFFF;
$secondDisabledBtnColor: #C5C2C2;
$secondDisabledBgBtnColor: #EDEDED;
$secondHoverBtnColor: #EDEDED;
$secondHoverBtnBorderColor: #C5C2C2;
$secondOnClickBtnColor: #E4E7ED;

$inverseBtnColor: #EDEDED;
$inverseBtnBorderColor: #EDEDED;
$inverseHoverBtnColor: #EDEDED;
$inverseHoverBtnBorderColor: #C5C2C2;
$inverseOnClickBtnColor: #E4E7ED;
$inverseOnClickBtnBorderColor: #C5C2C2;
$inverseDisabledBgBtnColor: #EDEDED;
$inverseDisabledBgBtnColor: #EDEDED;
$inverseDisabledBtnColor: #C5C2C2;

// Main checkboxes

$defaultCheckboxColor: #80818F;
$defaultDisabledCheckboxColor: #EDEDED;
$defaultDisabledBorderCheckboxColor: #C5C2C2;
$defaultHoverCheckboxColor: #FFDC60;
$defaultImageCheckboxColor: #1A1A1A;
$defaultDisabledImageCheckboxColor: #80818F;

// Backgrounds

$screensBgColor: #EBF0FF;
$commentCardBgColor: #EFF2F7;
$shadowCard: #CBD5F1;

/* -- SYSTEM COLORS -- */

$errorsColor: #FF0200;
$successColor: #309F27;
$warningColor: #FCBE1E;
$warningLightColor: #FFF5DB;


/* -- ADDITION COLORS -- */

$greenTag: #267A42;
$lightGreenTag: #CFEBD8;
$orangeTag: #996A32;
$lightOrangeTag: #FFE9CE;
$roseTag: #BC5C73;
$lightRoseTag: #FFE7ED;
$blueTag: #376CC0;
$lightBlueTag: #DEEBFF;



/**
  ------------- FONTS -------------
 */


/* -- FAMILIES -- */

$mainFont: 'YS';
$headingsFont: 'YSD';


/* -- WEIGHTS -- */

$Bold: 700;
$SemiBold: 600;
$Medium: 500;
$Regular: 400;


/* -- SIZES -- */

// Titles

$fs-h1: 34px;
$fs-h2: 24px;
$fs-h3: 20px;

// Subtitles

$fs-subtitle: 18px;

// Main text

$fs-main: 16px;
$fs-secondMain: 14px;

// Addition text

$fs-caption: 13px;
$fs-secondCaption: 11px;

// Hyperlinks

$fs-link-sm: 14px;
$fs-link-m: 16px;

/* -- LINE HEIGHTS -- */

$fs-line-height: 20px;

// Titles

$lh-h1: 40px;
$lh-h2: 32px;
$lh-h3: 24px;

// Subtitles

$lh-subtitle: 24px;

// Main text

$lh-main: 20px;
$lh-secondMain: 20px;

// Addition text

$lh-caption: 16px;
$lh-secondCaption: 12px;

// Hyperlinks

$lh-link-sm: 20px;
$lh-link-m: 20px;

// Borders

$borderRadius: 16px;
$borderIconRadius: 12px;

// Icons

$sizeIcon: 24px;

// Modals

$modalWidthMin: 446;
$modalWidthMid: 470;
$modalWidthMax: 600;
$modalPadding: 48;